{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    <div data-ng-app="youtube-embed">
        {{ parent() }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://www.youtube.com/iframe_api"></script>
    {% javascripts output='js/app_admin_goal_show.js'
        'app/bower_components/angular/angular.min.js'
        'app/bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
